/** GENERAL FORMATTING **/
#hero-div {
    margin-left: 325px;
    width: 1200px;
    height: 500px;
    display: inline-block;
}

#ng-nav-sidebar-wrapper {
  max-width: 325px;
  max-height: 100%;
  height: auto;
  position: fixed;
  top: 10;
  left: 0;
  z-index: 1;
  transition: all 0.2s ease 0s;
  overflow-y:auto; 
}

#ng-nav-sidebar-buttons {
  padding:0;
  margin:0;
  overflow:hidden;
  color:rgb(27,27,27);
  height: 100%;
  vertical-align: bottom;
}

#ng-nav-sidebar-buttons li {
  height: 75px;
  list-style: none;
  position: relative;
}

#ng-nav-sidebar-buttons li .logo {
  height: 75px;
  width: 100px;
  position:absolute;
}

#ng-nav-sidebar-buttons li .logo img {
  height: 75px;
  width: 100px;
}

#ng-nav-sidebar-buttons li .logo img:hover {
  cursor: pointer;
  cursor: hand;
}

#ng-nav-sidebar-buttons li .ng-nav-sidebar-label {
  width:325px;
  height:inherit;
  display:block;
  text-align: center;
  background-color:rgb(27,27,27);
}

#ng-nav-sidebar-buttons li .ng-nav-sidebar-label:hover {
  background-color:rgb(54,54,54);
  cursor: pointer;
  cursor: hand;
}

#ng-nav-sidebar-buttons li .ng-nav-sidebar-label span {
  width:325px;
  display:block;
  padding-left:105px;
  line-height:75px;
  color:rgb(123,0,0);
  font-size:20px;
  float:right;
}

#ng-nav-sidebar-buttons li .ng-nav-sidebar-label span:hover {
  color:rgb(60,0,0);
}