<div id="hero-div">
    <div class="col-1">
        <div id="name-div">{{currentHero.formatted_name}}</div>
        <div id="image-div">
            <img src="/public/images/heroes_vert/{{currentHero.image_name}}.jpg"/>
        </div>
        <kda *ngIf="currentHero" [currentHero]="currentHero"></kda>
        <winrate *ngIf="currentHero" [currentHero]="currentHero"></winrate>
        <mostuseditems *ngIf="currentHero" [currentHero]="currentHero"></mostuseditems>
    </div>
    <div class="col-2">
        <matchdetails *ngIf="currentHero" [currentHero]="currentHero"></matchdetails>
    </div>
    <div class="col-3">
        <permin *ngIf="currentHero" [currentHero]="currentHero"></permin>
        <lhdeny *ngIf="currentHero" [currentHero]="currentHero"></lhdeny>
        <bestversus *ngIf="currentHero" [currentHero]="currentHero"></bestversus>
        <worstversus *ngIf="currentHero" [currentHero]="currentHero"></worstversus>
    </div>
</div>
